* {
    margin: 0%;
}


.navbar{
    position: absolute;
    width: 1920px;
    height: 106px;
    left: 0px;
    top: 0px;
    background: #233356;
}

.logo{
    width: 200px;
    margin-left: 2rem;
}

.video{

}

.mosaic{

}

.presentation{

}

.mosaic2{

}

.menu{

}

.findUs{

}

.SocialNet{

}

.footer{

}

