* {
    margin: 0%;
}

body{
    width: 100%;
}

::-webkit-scrollbar {
    display: none;
}

.navbar{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1920px;
    height: 106px;
    left: 0px;
    top: 0px;
    background: #233356;
    -webkit-user-select: none;
    z-index: 3;
}

.logo{
    width: 200px;
    margin-right: 25%;
}

.navbtn{
    width: 7%;
}

.navbtn2{
    width: 4%;
}

.c-video{
    display: flex;
    width: 100%;
    max-width: 100%;
    
}

.mosaic{
    display: flex;
    justify-content: center;
    align-content: center;
    background-image: url("../Assets/mosaic.jpg");
}

.mosaic img{
    margin-top: 2%;
    margin-bottom: 2%;
    height: 200px;
    width: 200px;
    margin-right: 5%;
    box-shadow: 10px 10px 5px ;
}

.presentation{
    width: 1920px;
    height: 106px;
}

.mosaic2{
    display: flex;
    justify-content: center;
    align-content: center;
    background-image: url("../Assets/mosaic.jpg");
}

.mosaic2 img{
    margin-top: 2%;
    margin-bottom: 2%;
    height: 200px;
    width: 200px;
    margin-right: 5%;
    box-shadow: 10px 10px 5px;
}

.menu{

}

.findUs{
    background-color: #A13340;
    background-image: url(../Assets/background_ou_trouver.jpg);
    background-repeat: no-repeat;
}

.map{
    margin-left: 15%;
}

.backgroundmap{
    
}



.SocialNet{

}

.footer{

}

/**
CAROUSEL
*/

.imgCarousel{
    width: 200px;
    z-index:1;
    display: block;
}
    @media only screen and (max-device-width:1024px) and (min-device-width:481px){
        .imgCarousel{
            width: 150px;
            z-index: 1;
            display: block;
        }
        }
        @media only screen and (max-device-width:480px) and (min-device-width:0px){
            .imgCarousel{
                width: 150px;
                z-index: 1;
                display: block;
            }
            }
            @media only screen and (max-device-width:770px) and (min-device-width:750px){
                .imgCarousel{
                    width: 100px;
                    z-index: 1;
                    display: block;
                }
                }
                @media only screen and (max-device-width:640px) and (min-device-width:540px){
                    .imgCarousel{
                        width: 250px;
                        z-index: 1;
                        display: block;
                    }
                    }

.item{
    margin-left: 25%;
}

.carousel_title{
    width: 250px;
}
.container{
    margin: 5%;
}
.carousel,.carousel2{
    position: relative;
    overflow: hidden;
}
.carousel_item{
    float: left;
}

.carousel_container{
    transition: transform 0.3s;
    transform: translate3d(0,0,0);
}
.carousel_container::after{
    content: '';
    clear: both;
    display: table;
}
.carousel_next, .carousel_prev{
    position: absolute;
    top: 100%;
    width: 25%;
    height: 25%;
    background: url(../../Picture/right_arrow.svg)  center no-repeat;
    background-size: 60px 60px;
    margin-top: -10%;
    right: -100px;
    cursor: pointer; 
    transition: transform 0.3s opacity 0.3s;
} 
    @media only screen and (max-device-width:1024px) and (min-device-width:641px){
        .carousel_next, .carousel_prev{
            position: absolute;
            top: 100%;
            width: 25%;
            height: 35%;
            background: url(../../Picture/right_arrow.svg)  center no-repeat;
            background-size: 60px 60px;
            margin-top: -12%;
            right: -90px;
            cursor: pointer; 
            transition: transform 0.3s opacity 0.3s;
        }
        }
        @media only screen and (max-device-width:480px) and (min-device-width:0px){
            .carousel_next, .carousel_prev{
                position: absolute;
                top: 100%;
                width: 25%;
                height: 35%;
                background: url(../../Picture/right_arrow.svg)  center no-repeat;
                background-size: 60px 60px;
                margin-top: -100px;
                right: -10px;
                cursor: pointer; 
                transition: transform 0.3s opacity 0.3s;
            }
            }
            @media only screen and (max-device-width:770px) and (min-device-width:750px){
                .carousel_next, .carousel_prev{
                    position: absolute;
                    top: 100%;
                    width: 25%;
                    height: 50%;
                    background: url(../../Picture/right_arrow.svg)  center no-repeat;
                    background-size: 60px 60px;
                    margin-top: -13%;
                    right: -50px;
                    cursor: pointer; 
                    transition: transform 0.3s opacity 0.3s;
                }
                }
                @media only screen and (max-device-width:640px) and (min-device-width:540px){
                    .carousel_next, .carousel_prev{
                        position: absolute;
                        top: 100%;
                        width: 25%;
                        height: 50%;
                        background: url(../../Picture/right_arrow.svg)  center no-repeat;
                        background-size: 60px 60px;
                        margin-top: -35%;
                        right: 0px;
                        cursor: pointer; 
                        transition: transform 0.3s opacity 0.3s;
                    }
                    }


.carousel_prev{
    background-image: url(../../Picture/left_arrow.svg);
    right: auto;
    left: -120px;
}
    @media only screen and (max-device-width:1024px) and (min-device-width:481px){
        .carousel_prev{
            background-image: url(../../Picture/left_arrow.svg);
            right: auto;
            left: -90px;
        }
        }
        @media only screen and (max-device-width:480px) and (min-device-width:0px){
            .carousel_prev{
                background-image: url(../../Picture/left_arrow.svg);
                right: auto;
                left: -9px;
            }
            }
            @media only screen and (max-device-width:770px) and (min-device-width:750px){
                .carousel_prev{
                    background-image: url(../../Picture/left_arrow.svg);
                    right: auto;
                    left: -65px;
                }
                }
                @media only screen and (max-device-width:640px) and (min-device-width:540px){
                    .carousel_prev{
                        background-image: url(../../Picture/left_arrow.svg);
                        right: auto;
                        left: -0px;
                    }
                    }

.item_title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    display: flex;
    align-items: center;
    letter-spacing: 0.035em;
    color: #FFFFFF;
    z-index:2;
    margin-top: -20%;
    margin-left: 2%;
    margin-bottom: 2%;
}
@media only screen and (max-device-width:770px) and (min-device-width:750px){
    .item_title{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: bold;
        font-size: 12.5px;
        display: flex;
        align-items: center;
        letter-spacing: 0.035em;
        color: #FFFFFF;
        z-index:2;
        margin-top: -20%;
        margin-left: 2%;
        margin-bottom: 2%;
        }
    }
    @media only screen and (max-device-width:480px) and (min-device-width:0px){
        .item_title{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: bold;
            font-size: 16.5px;
            display: flex;
            align-items: center;
            letter-spacing: 0.035em;
            color: #FFFFFF;
            z-index:2;
            margin-top: -20%;
            margin-left: 2%;
            margin-bottom: 2%;
            }
        }
        @media only screen and (max-device-width:1024px) and (min-device-width:641px){
            .item_title{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: bold;
                font-size: 18.5px;
                display: flex;
                align-items: center;
                letter-spacing: 0.035em;
                color: #FFFFFF;
                z-index:2;
                margin-top: -20%;
                margin-left: 2%;
                margin-bottom: 2%;
                }
            }

.item_desc{
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 12.5px;
    display: flex;
    align-items: center;
    letter-spacing: 0.035em;
    color: #FFFFFF;
    margin-left: 2%;
    margin-bottom: 2%;
}
@media only screen and (max-device-width:770px) and (min-device-width:750px){
    .item_desc{
        text-decoration: none;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: bold;
        font-size: 0.5em;
        display: flex;
        align-items: center;
        letter-spacing: 0.035em;
        color: #FFFFFF;
        margin-left: 2%;
        margin-bottom: 2%;
    }
}